.overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-container:hover .overlay {
    opacity: 1;
}