/* allow for edge to edge backgrounds*/
body {
  margin: 0px;
}

/* navbar */
a.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
  padding: 6px 16px;
  font-size: 18px;
  min-width: 0;
}
/* navbar turns lighter green on hover */
a.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit:hover {
  color: #968326;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* get rid of ripple animation on navbar button */
span.MuiTouchRipple-root {
  width: 0;
  height: 0;
}

/* links */
a {
  color: #A52F1D;
}

/* fade in on load */
.title, .title_description, .navbar {
    animation: fadeIn 2s;
    -moz-animation: fadeIn 2s; /* Firefox */
    -webkit-animation: fadeIn 2s; /* Safari and Chrome */
    -o-animation: fadeIn 2s; /* Opera */
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadeIn { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadeIn { /* Opera */
    from {opacity:0;}
    to {opacity:1;}
}

/* fade in on view (used on Schedules) */
.fade-in-element {
    animation: fadeSlideIn 2s;
    -moz-animation: fadeSlideIn 2s; /* Firefox */
    -webkit-animation: fadeSlideIn 2s; /* Safari and Chrome */
    -o-animation: fadeSlideIn 2s; /* Opera */
    
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
}

.hidden {
  opacity: 0;
}

@keyframes fadeSlideIn {
    from {
        opacity:0;
        transform: translateY(50px);
    }
    to {
        opacity:1;
        transform: translateY(0%));
    }
}
@-moz-keyframes fadeIn { /* Firefox */
    from {
        opacity:0;
        -moz-transform: translateY(50px);;
    }
    to {
        opacity:1;
        -moz-transform: translateY(0%);
    }
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
        -webkit-transform: translateY(50px);;
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0%));
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity:0;
        -o-transform: translateY(50px);;
    }
    to {
        opacity: 1;
        -o-transform: translateY(0%);
    }
}


/* .infoRow .infoCard {
  padding: 20px 133px;
} */

/* .infoCard {
    display: inline-block;
} */

.scheduleElem {
    background-color: white;
    width: 369px;
    height: 162px;
}

#games {
    /* TODO: stretch to full width?? */
    width: calc(100% + 10px);
}

@font-face {
    font-family: 'Futura LT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Book'), url('./assets/FuturaLT-Book.woff') format('woff');
}