
/* .main {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    height: 100vh;
    /* background-repeat: no-repeat; */
    /* background-image: url("http://dancesportlive.net/dsl/images/under_construction.gif"); 
}*/

/* .text {
    background-size: 15px;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: orange;
    background-image: -webkit-linear-gradient(22.5deg, rgba(0, 0, 0, .3) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .3) 75%, transparent 75%, transparent);
} */

/* a {
  position: block;
  color: rgb(255, 68, 246);
  background: #0ce970;
  border: 0px solid;
  margin: 2px 4px 7px 4px;
  padding: 2px 3px;
  border-radius: 5%;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: cursive;
  box-shadow: 0 5px #025880;
} */

/* a:hover {
  background-color: rgb(175, 46, 169);
}

a:active {
  background-color: rgb(175, 46, 169);
  box-shadow: 0 3px #666;
  transform: translateY(2px);
} */

.fullWidthBackground {
  margin-left: -10px;
}

@keyframes flicker {
  0% {
    text-shadow: 0px 0px;
    color: rgb(255, 68, 246);
    transform: translate(0);
  }
  24% {
    text-shadow: 0px 0px;
    color: rgb(255, 68, 246);
    transform: translate(0);
  }
  25% {
    text-shadow: 5px 3px rgb(255, 68, 246), -5px -3px rgb(0, 255, 255);
    color: white;
    transform: translate(-5px, -5px);
  }
  30% {
    text-shadow: 0px 0px;
    color: rgb(255, 68, 246);
    transform: translate(0);
  }
  64% {
    text-shadow: 0px 0px;
    color: rgb(255, 68, 246);
    transform: translate(0);
  }
  65% {
    text-shadow: 5px 3px rgb(255, 68, 246), -5px -3px rgb(0, 255, 255);
    color: white;
    transform: translate(0);
  }
  74% {
    text-shadow: 0px 0px;
    color: rgb(255, 68, 246);
    transform: translate(0);
  }
  75% {
    text-shadow: 5px 3px rgb(255, 68, 246), -5px -3px rgb(0, 255, 255);
    color: white;
    transform: translate(-5px, 5px);
  }
  80% {
    text-shadow: 0px 0px;
    color: rgb(255, 68, 246);
    transform: translate(0);
  }
  100% {
    text-shadow: 0px 0px;
    color: rgb(255, 68, 246);
    transform: translate(0);
  }
}


.title {
    animation-name: flicker;
    animation-duration: 4s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
}

.infoCard {
    display: inline-block;
    width: 382px;
    padding: 100px;
}

.scheduleElem {
    background-color: white;
    width: 369px;
    height: 162px;
}

#games {
    /* TODO: stretch to full width?? */
    width: calc(100% + 10px);
}

@font-face {
    font-family: 'Futura LT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Book'), url('./assets/FuturaLT-Book.woff') format('woff');
}